corkboard-be/vendor/
corkboard-be/storage/*.key
corkboard-be/storage/app/public/
corkboard-be/storage/framework/
corkboard-be/storage/logs/
corkboard-be/bootstrap/cache/*.php
corkboard-be/.env
corkboard-be/.env.*
corkboard-be/.phpunit.result.cache

corkboard-fe/node_modules/
corkboard-fe/.quasar/
corkboard-fe/.output/
corkboard-fe/.vite/
corkboard-fe/dist/
corkboard-fe/.env
corkboard-fe/.env.*
corkboard-fe/.DS_Store
corkboard-fe/*.log

corkboard-fe/.ssr/
corkboard-fe/.spa/
corkboard-fe/.pwa/
corkboard-fe/.bex/
corkboard-fe/.ssr-dist/
corkboard-fe/.spa-dist/
corkboard-fe/.pwa-dist/
corkboard-fe/.bex-dist/
corkboard-fe/.temp/
corkboard-fe/.cache/

*.log
*.swp
*.swo
*.bak
*.tmp
.DS_Store
Thumbs.db

.vscode/
.idea/
*.code-workspace